<%= form_for @movie, html: { id: 'movie_form' } do |m| %>
  <div class="row">
    <div class="col s6">
      <%= m.label :title, 'Title *' %>
      <%= m.text_field :title %>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col s6">
      <%= m.label :summary, 'Summary *' %>
      <%= m.text_area :summary, class: 'materialize-textarea' %>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col s6">
      <%= m.label :genre, 'Genre *' %>
      <%= m.text_field :genre %>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col s6">
      <%= m.label :year, 'Year *' %>
      <%= m.number_field :year %>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col s6">
      <%= m.label :link, 'IMDb link' %>
      <%= m.text_field :link %>
    </div>
  </div>

  <br><br>

  <%= m.submit :class => 'btn' %>
<% end %>

<br><br>

* = required field
