<h1><%= @movie.title %></h1>

<h5>Genre: <%= @movie.genre %></h5>

<h5>Year: <%= @movie.year %></h5>

<div class="row">
  <div class="col s6">
    <p>Summary: <%= @movie.summary %></p>
  </div>
</div>

<div class="row">
  <% if @movie.link? %>
    <div class="col s2">
      <%= link_to 'IMDb Page', @movie.link, class: 'btn blue darken-2', target: '_blank' %>
    </div>
  <% end %>
  <div class="col s2">
    <%= link_to 'Edit Movie', edit_movie_path(@movie), class: 'btn blue darken-2' %>
  </div>
  <div class="col s2">
    <%= form_tag movie_path(@movie), method: :delete do %>
      <%= submit_tag 'Delete Movie', class: 'btn blue darken-2' %>
    <% end %>
  </div>
</div>
