<!DOCTYPE html>
<html>
  <head>
    <title>Movie Catalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="nav-wrapper blue darken-3">
          <div class="container">
            <a href="/" class='brand-logo center'>Movie Catalog</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><%= link_to 'Movies', movies_path %></li>
              <li><%= link_to 'Add Movie', new_movie_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
