<!DOCTYPE html>
<html>
  <head>
    <title>Movie Catalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <button type="button"><%= link_to 'Movies', movies_path %></button>
      <button type="button"><%= link_to 'Add Movie', new_movie_url %></button>
    </div>

    <%= yield %>
  </body>
</html>
